*.json text
*.h text
*.hpp text
*.hpp11 text
*.lua text
*.py text
*.xml
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
example filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
cmake filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
